* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.inputs {
  margin-bottom: 20px;
  background: rgb(6, 187, 237);
}